<% title "みんなのおべんとう" %>

<table>
  <tr>
    <th>弁当男子くん</th>
    <th>おべんとうphoto</th>
    <th>コメント</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.user_id %></td>
    <td><%= article.image_name %></td>
    <td><%= article.description %></td>
    <td><%= link_to '見る', article %></td>
    <td><%= link_to '編集', edit_article_path(article) %></td>
    <td><%= link_to '削除', article, confirm: 'マジで消すの?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'おべんとうを投稿', new_article_path %>

